$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$x-sm: 400px;

$Panache: #f6fbf5;
$Blue-Dianne: #1d4648;
$Nevada: #576c6e;
$Firefly: #133a3c;


$Primary: $Blue-Dianne;
$Primary-light: $Panache;
$Primary-dark: $Nevada;
$Primary-darker: $Firefly;